.leftFold-menu {
    height: 47%;
}

.leftFold-dialer {
    height: 47%;
}

.menu-items {
    margin-top: 16px;
}

.dialer-label {
    font-weight: 600;
    font-size: 20px;
}

.dialer-search {
    width: 100%;
    background-color: var(--teams-gray-light);
    margin: 8px 0;
}

.dialer-search input {
    background: transparent;
    padding: 8px;
    outline: none;
    border: none;
}

.dialer-suggested {
    width: 100%;
}

.suggested-label {
    font-size: 16px;
    font-weight: 400;
}

.suggested-list {
    width: 100%;
    margin-top: 16px;
}