.home-body {
  display: flex;
  flex: 1;
  width: 100%;
  height: calc(100% - 3rem);
}

.home-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-sidebare {
  display: flex;
}

.calls-content {
  display: flex;
  flex: 14;
}

.leftFold-container {
  display: flex;
  flex: 2;
}

.rightFold-container {
  display: flex;
  flex: 7;
}

.leftFold {
  width: 100%;
  height: 100%;
  background-color: var(--teams-gray-light2);
  box-shadow: -5px 1px 5px var(--teams-color-shadow);
}

.rightFold {
  width: 100%;
  background-color: var(--teams-gray-light);
  box-shadow: -5px 1px 5px var(--teams-color-shadow);
}

.fold-title {
  font-weight: 700;
  font-size: 20px;
  height: 3rem;
  padding: 10px;
  display: block;
  margin-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.fold-main {
  height: calc(100vh - 9rem);
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .leftFold-container {
    flex: 4;
  }
}

@media screen and (max-width: 768px) {
  .leftFold-container {
    display: none;
  }
}

@media screen and (max-width: 480px) {}