.home-body {
  display: flex;
  flex: 1;
  width: 100%;
  height: 94%;
}

.home-container {
  width: 100%;
  height: 100vh;
}

.home-sidebare {
  display: flex;
  flex: 1;
}

.calls-content {
  display: flex;
  flex: 14;
}

.leftFold-container {
  display: flex;
  flex: 3;
}

.rightFold-container {
  display: flex;
  flex: 11;
}

.leftFold {
    width: 100%;
    height: 100%;
    background-color: var(--teams-color-light2);
    box-shadow: -5px 1px 5px var(--teams-color-shadow);
  }
  
  .rightFold {
    width: 100%;
    background-color: var(--teams-gray-light);
    box-shadow: -5px 1px 5px var(--teams-color-shadow);
  }
  
  .fold-title {
    font-weight: 700;
    font-size: 20px;
    width: 90%;
    padding: 10px 5%;
    display: block;
    margin-bottom: 16px;
    border-radius: 0 0 0 20px;
    border-bottom: solid var(--teams-color-light1);
  }
  
  .fold-main {
    height: 90%;
    width: 100%;
    padding: 0 5%;
  }
  