.dropdown-button {
  display: flex;
  color: #ffffff;
  border-radius: 0.25rem;
  cursor: pointer;
}

.dropdown-menu {
  z-index: 1;
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  width: 12rem;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  text-align: left;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #4a5568;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: var(--teams-gray-hover);
  color: #252423;
}