@tailwind base;
@tailwind components;
@tailwind utilities;

/* #5b5fc7 */
:root {
    --teams-color: #444791;
    --teams-item-active: #c0baf5;
    --teams-color-text: #262737;
    --teams-message-sent: #E8EBFA;
    --teams-message-recp: #fff;
    --teams-gray-light: #f5f5f5;
    --teams-gray-light2: #f0f0f0;
    --teams-color-light3: #ebebeb;
    --teams-color-shadow: #dbdbdb;

    --teams-color-light: #f5f5f5;
    --teams-color-light1: #d5d5e9;
    --teams-gray: #616161;
}

body {
    font-size: 14px;
    color: var(--teams-color-text);
}