.sidebar-option {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--teams-gray);
    cursor: pointer;
}

.sidebar-option.active::before {
    height: 3.8rem;
    position: absolute;
    border-left: solid 2px var(--teams-color);
    border-radius: 0.4rem;
    background: var(--teams-color);
    content: "";
    left: 0.2rem;
}

.sidebar-option:hover,
.sidebar-option.active {
    color: var(--teams-color);
}

.sidebar-option-icon {
    font-size: 22px;
    font-weight: 600;
}

.sidebar-option-label {
    font-size: 11px;
}