.sidebar {
    width: 4.8rem;
    background-color: var(--teams-color-light3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5px 0;
}